@import "../../_globalColor";

.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 5rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.software-skill-inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;

  > i, .icon-component {
    transition: color 0.3s ease; // Add transition for smooth color change
  }

  &:hover {
    > i {
      color: $skillsColor;
    }
  }
}

.software-skill-inline > p {
  color: $subTitle;
  font-size: 20px;
}

.software-skill-inline:hover > p {
  color: $skillsColor;
}

.icon-component-inline {
  color: $subTitle;
}

.icon-component:hover {
  color: $skillsColor;
}
