// @import "../../_globalColor";

// .dev-icons {
//   padding-left: 0;
//   list-style: none;
//   font-size: 5rem;
//   margin-bottom: 0px;
//   margin-top: 0px;
//   text-align: center;
// }

// .software-skill-inline {
//   display: inline-block;
//   margin-right: 20px;
//   margin-bottom: 20px;
// }

// .software-skill-inline > i {
//   color: $subTitle;
// }

// .software-skill-inline > i:hover {
//   color: $skillsColor;
// }
// .software-skill-inline > p {
//   color: $subTitle;
//   font-size: 20px;
// }
// .software-skill-inline > i:hover ~ p {
//   color: $skillsColor;
// }

// .software-skill-image {
//   width: 50px; // Adjust the size as needed
//   height: 50px;
//   // Add any other styles
// }


// // PART 2 MOST RECENT
// @import "../../_globalColor";

// .dev-icons {
//   padding-left: 0;
//   list-style: none;
//   font-size: 5rem;
//   margin-bottom: 0px;
//   margin-top: 0px;
//   text-align: center;
// }

// .software-skill-inline {
//   display: inline-block;
//   margin-right: 20px;
//   margin-bottom: 20px;

//   > i, > img, > svg {
//     transition: color 0.3s ease; // Add transition for smooth color change
//   }

//   &:hover {
//     > i {
//       color: $skillsColor;
//     }

//     > img {
//       // Add hover styles for PNG images
//       mask: url('#mask');
//       background-color: $skillsColor;
//       filter: brightness(30%); // Adjust brightness as needed
//     }
//   }
// }

// // Define the SVG mask
//     > svg {
//       display: none;
//     }

// // Use a class to apply the SVG mask
// .software-skill-inline:hover > svg {
//   display: block;
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
// }


// .software-skill-inline > p {
//   color: $subTitle;
//   font-size: 20px;
// }

// .software-skill-inline:hover > p {
//   color: $skillsColor;
// }

// .software-skill-image {
//   width: 80px; // Adjust the size as needed
//   height: 80px;
//   // Add any other styles
// }

@import "../../_globalColor";

.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 5rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.software-skill-inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;

  > i, .icon-component {
    transition: color 0.3s ease; // Add transition for smooth color change
  }

  &:hover {
    > i {
      color: $skillsColor;
    }
  }
}

.software-skill-inline > p {
  color: $subTitle;
  font-size: 20px;
}

.software-skill-inline:hover > p {
  color: $skillsColor;
}

.icon-component-inline {
  color: $subTitle;
}

.icon-component:hover {
  color: $skillsColor;
}
